@model CreatePersonVM
@{
    ViewData["Title"] = "CreatePerson";
}

<br />
<h1 class="offset-2">CreatePerson</h1>
<hr />
<br />

<a class="btn btn-primary floatLeft" asp-action="Index" asp-controller="Person">Return</a>

<form class="col-2 offset-2" asp-action="CreatePerson" asp-controller="Person" method="post">

    <label asp-for="PersonName"></label>
    <br />
    <input id="createName" asp-for="PersonName" />

    <hr />

    <label asp-for="PersonAge"></label>
    <br />
    <input id="createAge" asp-for="PersonAge" />

    <hr />

    <div id="Equality" class="row">
        <label class="col-3">Man</label>
        <label class="col-3">Woman</label>
        <label class="col-3">Llama</label>
    </div>
    <br />
    <div class="row">
        <input id="createGender" type="radio" asp-for="PersonGender" value="Man" class="col-3" />
        <input id="createGender" type="radio" asp-for="PersonGender" value="Woman" class="col-3" />
        <input id="createGender" type="radio" asp-for="PersonGender" value="Llama" class="col-3" />
    </div>

    <hr />

    <label asp-for="PersonPhoneNumber"></label>
    <br />
    <input id="createPhoneNumber" asp-for="PersonPhoneNumber" />

    <hr />

    <div class="form-group">
        <label>Country</label>
        <select id="countryDropDownList" class="form-control">
            <option value="Select">Select one</option>
        </select>
    </div>
    <div class="form-group">
        <label>Cities</label>
        <select asp-for="CityId" id="cityDropDownList" class="form-control createCity">
            <option value="Select">Select one</option>
        </select>
    </div>

    <hr />

    <button class="btn btn-success">
        Submit
    </button>

</form>