
@{
    ViewData["Title"] = "Index";
}
<br />
<h1 class="offset-3">Index</h1>
<hr />
<br />

<h5 class="offset-2">
    I currently don't hold any useful information.
    Please click on one of the buttons to access useful stuff.
</h5>