@model CreateUserVM
@{
    ViewData["Title"] = "CreateUser";
}
<br />
<h1 class="offset-2">CreateUser</h1>
<hr />
<br />

<form class="offset-2" asp-action="CreateUser" asp-controller="Account">

    <label asp-for="UserName"></label>
    <input asp-for="UserName" />

    <label asp-for="Email"></label>
    <input asp-for="Email" />

    <label asp-for="Password"></label>
    <input asp-for="Password" />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />

</form>