@model LoginVM
@{
    ViewData["Title"] = "SignIn";
}
<br />
<h1 class="offset-2">Sign In</h1>
<hr />
<br />

@if (ViewBag.msg != null)
{
    <p class="offset-2 errorMessage">@ViewBag.msg</p>
}

<form method="post" class="offset-2" asp-action="SignIn" asp-controller="Account">

    <label asp-for="UserName"></label>
    <br />
    <input asp-for="UserName" placeholder="Username.." />
    <hr />
    <label asp-for="Password"></label>
    <br />
    <input asp-for="Password" placeholder="Password.." />
    <hr />
    <input type="submit" class="btn btn-success" value="Sign in" />

</form>