@model Country
@{
    ViewData["Title"] = "Details";
}
<br />
<h1 class="offset-3">Details</h1>
<hr />
<br />

<table class="table-active offset-2 col-8 marginBottom60">
    <tr class="row main-tr">
        <th class="offset-1 col-3">Name</th>
        <th class="offset-1 col-3">Population</th>
        @if (Model.Cities.Count <= 1)
        {
            <th class="offset-1 col-3">City</th>
        }
        else if (Model.Cities.Count > 1)
        {
            <th class="offset-1 col-3">Cities</th>
        }
    </tr>
    <tr class="row main-tr">
        <td class="border-bottom border-dark col-10 AlignCenter"></td>
        <td class="offset-1 col-3">@Model.Name</td>
        <td class="offset-1 col-3">@Model.Population</td>
        <td class="col-3">
            <table class="table-active">
                @if (Model.Cities.Count != 0)
                {
                    foreach (var item in Model.Cities)
                    {
                        <tr>
                            <td class="offset-1 col-4">@item.Name</td>
                            <td class="offset-1 col-4">@item.Population</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="offset-1 col-4">Lonely</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>

<tr>
    <td>
        <a class="btn btn-primary offset-2" asp-action="Index" asp-controller="Country">
            Return
        </a>
    </td>
</tr>